name: Integrate Pull Request

on:
  pull_request:
    branches: [main]

jobs:
  test:
    name: Run tests
    runs_on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
      - run: npm ci
      - run: npm run test:e2e
      - run: npm run build
